/* .img-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

.img-sqr {
  width: 250px;
  height: 250px;
}

.img-round {
  border-radius: 50%;
  width: 250px;
  height: 250px;
}

.img-responsive-container {
  width: 350px;
  height: 350px;
}

.img-responsive {
  width: 100%;
  height: auto;
  object-fit: contain;
}
