@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600&family=Inter:wght@100;200;300;400;500;700;800;900&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400&family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600&family=Inter:wght@100;200;300;400;500;700;800;900&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400&family=Roboto:wght@300;400;500;700&family=Satisfy&display=swap");
:root {
  --primary-color: #7a68a9;
  --secondary-color: #ffffff;
  --homepage-heading-textshadow-color: #d9b650;
  --box-shadow-color: #99999933;
  --green-shade-color: #097a09;
  --red-shade-color: #cd1f1f;
  --yellow-shade-color: #f58c14;
  --blue-shade-color: #4545b5;
  --brown-shade-color: #66558f;
  --gray-shade-color: #808080;
  --gary-shade-color2: #2f4f4f;
  --black-shade-color2: #050202d0;
  --purple-shade-color: #9c27b0;
  --purple-shade-color2: #7b208b;
}
/* #895737 */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
}

.navbar {
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 7rem;
  box-shadow: 0px 3px 8px var(--gray-shade-color);
  padding: 0 2rem;
  background-color: white;
  z-index: 1000;
}

.brand {
  font-size: 4rem;
  font-weight: 700;
  margin-left: 4px;
}

.brand,
.github-link {
  color: var(--primary-color);
}

.github-link:hover {
  transform: scale(1.1);
}

.sidebar-documentation-container {
  display: flex;
}

.sidebar {
  position: sticky;
  flex: 1;
  font-size: 1.5rem;
  width: 25rem;
  padding: 1.4rem;
  margin-left: 1rem;
  margin-top: 1rem;
  top: 7rem;
  overflow-y: auto;
  scroll-behavior: smooth;
  height: 90vh;
}

.sidebar::-webkit-scrollbar {
  width: 10px;
}

.component-names {
  color: var(--gray-shade-color);
  list-style-type: none;
  padding: 0.5rem;
  margin: 1rem;
  width: 20rem;
  border: 0.2px solid transparent;
}

.component-names:hover {
  color: var(--primary-color);
  border-color: var(--primary-color);
  border-radius: 2px;
}

.documentation {
  flex: 5;
  margin: 0rem 7rem 0rem 1rem;
  padding: 2rem;
  box-shadow: 0px 3px 8px var(--box-shadow-color);
  height: auto;
}

.link-active {
  border: 0.2px solid var(--primary-color);
  border-bottom: 2.5px solid var(--primary-color);
  border-right: 2.5px solid var(--primary-color);
  color: var(--primary-color);
  font-weight: 600;
}

.docs-heading {
  font-size: 4rem;
  margin-bottom: 2rem;
}

.component-description {
  font-size: 1.7rem;
  margin-bottom: 5rem;
}

.sub-heading {
  font-size: 2.5rem;
  margin: 3rem 0;
}

.sub-sub-heading {
  font-size: 1.8rem;
}
