.homepage {
  background-color: var(--primary-color);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.heading1 {
  color: var(--secondary-color);
  font-size: 10rem;
  text-shadow: 3px 0px var(--homepage-heading-textshadow-color);
}

.heading2 {
  color: var(--secondary-color);
  font-size: 3rem;
  margin-bottom: 5rem;
  text-align: center;
}

.btn-homepage a {
  color: var(--primary-color);
}

.btn-homepage {
  margin: auto;
  padding: 1rem;
  border-radius: 0.4rem;
  border-style: none;
  width: 30rem;
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  font-size: large;
  cursor: pointer;
}

.homepage button:hover {
  transform: scale(1.03);
}

.homepage .footer {
  position: absolute;
  bottom: 1rem;
  font-size: 1.5rem;
  color: var(--secondary-color);
}

.homepage .footer a:hover {
  text-decoration: underline;
}
