.input-container {
  display: flex;
  gap: 5rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.input-container .input label {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  font-size: 1.5rem;
}

.input-container .input input {
  padding: 1rem;
  width: 25rem;
  font-size: 1.5rem;
  border: 1.5px solid var(--gray-shade-color);
  border-radius: 0.5rem;
}

.search-icon {
  position: relative;
}

.search-icon a {
  position: absolute;
  right: 0.4rem;
  top: 0.8rem;
  text-decoration: none;
  color: var(--gary-shade-color2);
}

.search-icon a:hover {
  color: var(--gray-shade-color);
}

.radio-checkbox {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  padding: 1rem;
  gap: 1rem;
}

.radio-checkbox input {
  height: 1.5rem;
  width: 1.5rem;
}
