.btn-container {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
}
.btn {
  padding: 1.2rem;
  font-size: 1.6rem;
  border-style: none;
  border-radius: 0.5rem;
  cursor: pointer;
  text-align: center;
}

.btn-primary {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.btn-primary:hover {
  background-color: var(--brown-shade-color);
}

.btn-secondary:hover {
  color: var(--primary-color);
}

.btn-primary-outline {
  outline: 1px solid var(--primary-color);
  color: var(--primary-color);
  background-color: var(--secondary-color);
}

.btn-primary-outline:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.btn-secondary-outline {
  outline: 1px solid var(--box-shadow-color);
  background-color: var(--secondary-color);
}

.btn-secondary-outline:hover {
  outline: 1px solid var(--primary-color);
  color: var(--primary-color);
}

.btn-labelled-icon {
  display: flex;
  align-items: center;
  gap: 4px;
}

.btn-floating {
  position: absolute;
  border-radius: 50%;
  height: 5.5rem;
  width: 5.5rem;
  box-shadow: 0px 3px 8px #ac9b9b;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-floating-links {
  position: relative;
  width: 6rem;
  height: 5rem;
}

.btn-link-primary {
  font-size: 1.8rem;
  background: none;
  color: var(--primary-color);
}

.btn-link-primary:hover {
  color: var(--gray-shade-color);
}

.btn-link-secondary {
  font-size: 1.8rem;
  background: none;
  color: var(--gray-shade-color);
}

.btn-link-secondary:hover {
  color: var(--primary-color);
}
