.avatar {
  border-radius: 100%;
  border: 1px solid var(--yellow-shade-color);
}

.avatar-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.avatar:hover {
  transform: scale(1.01);
  box-shadow: 0px 3px 8px var(--blue-shade-color);
  cursor: pointer;
}

.avatar-xlg {
  height: 180px;
  width: 180px;
}

.avatar-lg {
  height: 140px;
  width: 140px;
}

.avatar-md {
  height: 100px;
  width: 100px;
}

.avatar-s {
  height: 60px;
  width: 60px;
}

.text-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.text-xlg {
  font-size: 10rem;
}

.text-lg {
  font-size: 8rem;
}

.text-md {
  font-size: 6rem;
}

.text-s {
  font-size: 4rem;
}
