.nav-container .navbar {
  margin: 5rem;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 30rem;
}

.nav-links .cart,
.nav-links .wishlist,
.nav-links .login {
  font-size: 2rem;
  text-decoration: none;
  color: var(--primary-color);
  font-weight: 900;
}

.nav-links .cart:hover,
.nav-links .wishlist:hover,
.nav-links .login:hover {
  color: var(--brown-shade-color);
}
