.alert {
  display: flex;
  align-items: center;
  border: 1.7px solid;
  gap: 1rem;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin: 1rem;
  font-weight: bold;
}

.alert-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1rem;
}

.alert-success,
.alert-error,
.alert-info,
.alert-warning {
  width: 40rem;
  background-color: var(--secondary-color);
  border: 1px solid;
}

.alert-success {
  border-color: var(--green-shade-color);
  color: var(--green-shade-color);
}

.alert-error {
  border-color: var(--red-shade-color);
  color: var(--red-shade-color);
}

.alert-warning {
  border-color: var(--yellow-shade-color);
  color: var(--yellow-shade-color);
}
.alert-info {
  border-color: var(--blue-shade-color);
  color: var(--blue-shade-color);
}

.alert-with-btn {
  display: flex;
  align-items: center;
}

.alert-container .alert-success .btn {
  color: var(--green-shade-color);
  margin-left: 22rem;
}

.alert-container .alert-success .btn:hover {
  outline: 1px solid var(--green-shade-color);
}

.alert-container .alert-error .btn {
  color: var(--red-shade-color);
  margin-left: 19rem;
}

.alert-container .alert-error .btn:hover {
  outline: 1px solid var(--red-shade-color);
}
